* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  background-color: #121212 !important;
  color: #ffffff !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 2rem 1.5rem;
}
